<header>
    <div class="container">
        <div></div>
        <div class="search-bar">
            <a href="#"><img class="main-logo" src="../../../assets/youtube.png"></a>
            <input type="text">
            <button type="submit">Search</button>
            <button class="settings">
                <span class="material-icons">tune</span>
            </button>
        </div>
        <div class="profile">
            <p>User name</p>
            <div class="profile-circle">
                <span class="material-icons">account_circle</span>
            </div>
        </div>
    </div>
</header>
