<div class="container" [ngStyle]="{borderBottomColor : checkDate()}">
    <div class="image">
        <img src="{{ item.thumbnails.url }}" alt="">
    </div>
    <div class="marks">
        <div>
            <button>
                <span class="material-icons">visibility</span>
            </button>
            <p>{{ item.statistics.viewCount }}</p>
        </div>
        <div>
            <button>
                <span class="material-icons">favorite</span>
            </button>
            <p>{{ item.statistics.likeCount }}</p>
        </div>
        <div>
            <button>
                <span class="material-icons">thumb_down</span>
            </button>
            <p>{{ item.statistics.dislikeCount }}</p>
        </div>
        <div>
            <button>
                <span class="material-icons">chat_bubble</span>
            </button>
            <p>{{ item.statistics.commentCount }}</p>
        </div>
    </div>
    <div class="title">
        <h3>{{ item.title }}</h3>
    </div>
    <button class="more">more...</button>
</div>
